.table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: center;
color:white;
}
td {
    padding: 10px 20px;
    background: #1c458b;
    border: 1px;
}
td {
    padding: 10px 20px;
    background: #1c458b;
    border: 1px;
}

.color {

    background-color: #f73577;
}

h1 {
    color: #1c458b;


}
.email-label
{

    background-color: #f73577;
    color: #ffffff;





}

.style1
{

    background-color: #1c458b;
    width: 250px;
}